@import '../../variables';

.root {
  min-height: 100vh;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
}
.root {
  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 64px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 12px;
  }

  p {
    font-size: 16px;
  }
}

.contentWrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.contentText {
  display: flex;
  flex-direction: column;

  & > div {
      margin-bottom: 15px;
  }
}

.contentParallax {
  display: flex;
}