.root {
  display: inline;
}

p {
  line-height: 16px;
}

.xl {
  font-size: 72px;
}

.l {
  font-size: 64px;
}

.m {
  font-size: 36px;
}

.s {
  font-size: 24px;
}

.xs {
  font-size: 18px;
}

.xxs {
  font-size: 12px;
}