@import '../../variables';

.root {
    min-height: 100vh;
    background: linear-gradient(180deg, $third 0%, $primary 100%);
}

.contentWrap {
    display: flex;
    flex-direction: row;
}
.contentText {
    display: flex;
    flex-direction: column;

    & > div {
        margin-bottom: 15px;
    }
}
.contentParallax {
    display: flex;
}