@import '../../variables';

.root {
    min-height: 100vh;
    background: linear-gradient(180deg, #ffffff 30.32%, #f5f5f5 100%);
}

.contentWrap {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
.contentText {
    display: flex;
    flex-direction: column;

    & > div {
        margin-bottom: 15px;
    }
}
.contentGallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}